# Enviroment variables needed to connect to the LiveKit server.
LIVEKIT_URL=wss://optimind-r0acjjng.livekit.cloud
LIVEKIT_API_KEY=APIHdopGgX5MpY8
LIVEKIT_API_SECRET=whV34fbFb5UmHlEpOM4FAkH8VC4C0GT7Osq5zUhwuKB

# Agent dispatch (https://docs.livekit.io/agents/server/agent-dispatch)
# Leave AGENT_NAME blank to enable automatic dispatch
# Provide an agent name to enable explicit dispatch
AGENT_NAME="demo-agent"

# Internally used environment variables
NEXT_PUBLIC_APP_CONFIG_ENDPOINT=
SANDBOX_ID=
